@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    /*Estilização UNIVERSAL*/
    scroll-behavior: smooth;
    /*Transição universal no scrool de rolagem*/
    list-style: none;
    /*Remove estilo de lista UNIVERSAL*/
    margin: 0;
    /*Remover os espaçamentos laterais e superior*/
    padding: 0;
    /*Desabilitando preenchimento aplicado por padrão*/

}

.whatsapp img{  /*alterar tamanho do icon-whatsapp */
    width:50px;/*largurar do icon*/
}

.whatsapp img:hover{
    width: 60px;
    transition: 0.8s;
}

.whatsapp {/*div que guarda o icon whatsapp */
    position: fixed;/*posicionamento fixo*/
    right: 25px;/*posicionado à direira (25px)*/
    bottom: 25px;/*posicionado à 25px do bottom*/
}

header {
    background: #0a3d62;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    position: sticky;/*Faz com que o elemento fique "grudado" Na tela quando o usuario rolar a pagina*/
    top: 0;/*Define que o elemento ficará preso no topo da tela */
    left: 0; /*Define o alinhamento à esquerda da página */
    z-index: 1;/*Controla a sobreposição do elementos sobre outros elementos da página.*/
}

#inicio {
    scroll-margin-top: 120px;
}

.Img-header {
    width: 100px;
}

.ul-lista li {
    list-style: none;


}

.ul-lista {
    display: flex;
    gap: 15px;
}

.ul-lista li a {
    font-size: 20px;
    color: white;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.ul-lista li a:hover {
    color: #6351a5;
}

.section-01 {
    background: linear-gradient(#0a3d62, #3c6382);
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.link {
    color: white;
    text-decoration: none;
}

/* INÍCIO DA SEGUNDA SECTION */
.section-02 {
    background: #0a3d62;
    padding: 50px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    gap: 125px;


}


.section-02 h2 {
    font-size: 25px;
    margin-top: 30px;
    text-transform: uppercase;

}

.section-02 img {
    width: 325px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(146, 129, 129);
    transition: 0.8s;
    cursor: pointer;
}

.card img:hover {
    max-width: 260px;
    box-shadow: 10px 10px 20px rgb(146, 129, 129);
    transition: 0.8s;
}

.card h2 {
    font-size: 25px;
    margin: 10px;
    text-transform: uppercase;

}

.card p {
    font-weight: 700px;
    font-size: 25px;
    margin-bottom: 15px;
    color: #555;
}

/* FIM DA SEGUNDA SECTION */

/* INÍCIO DA TERCEIRA SECTION */
.sectionn-03 {
    background: #0a3d62;
    padding: 50px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    gap: 125px;
}

.sectionn-03 img {
    width: 325px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(146, 129, 129);
    transition: 0.8s;
    cursor: pointer;
}

.card-00 img:hover{
    max-width: 260px;
     box-shadow:10px 10px 20px rgb(146, 129, 129);
    transition: 0.8s;  
}

.card-00 h2 {
    font-size: 25px;
    margin: 10px;
    text-transform: uppercase;

}

.card-00 p {
    font-weight: 700px;
    font-size: 25px;
    margin-bottom: 15px;
    color: #555;
}

/* FIM DA TERCEIRA SECTION */

/* INÍCIO DA QUARTA SECTION */
.section-04 {
    background: #154766;
    padding: 60px;
    text-align: center;
}

.section-04 h2 {
    font-size: 32px;
    margin-bottom: 40px;
}



.passagens-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.passagem-card {
    width: 250px;
    background: #f5f5f5;
    padding: 25px;
    border-radius: 10px;

}

/* FIM DA QUARTA SECTION */


/* INÍCIO SECTION 05 */
.section-05 h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: auto;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 12px;
    border: none;
    background: #0a3d62;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* FIM DA 05 SECTION */

/* INÍCIO DO FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #0a3d62;
    color: white;
    margin-top: 40px;
}

.caixa-footer {
    text-align: center;
}

.footer,
.fa-square-instagram,
.fa-square-x-twitter,
.fa-square-facebook {
    color: black;
    cursor: pointer;
    font-size: 25px;

}

/* FIM DO FOOTER */